* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100;
  height: auto;
}

.container {
  width: 900px;
  margin: 0 auto;
}

body {
  font-family: "Releway", "Arial", sans-serif;
  color: rgb(10, 10, 10);
}

.navigation {
  padding-top: 72px;
  padding-bottom: 100px;
}

.site-navigation {
  width: 900px;
  margin: 0 auto;
  font-size: 16 px;
  list-style: none;
  text-align: center;
  vertical-align: middle;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 115px;
}

.navigation-list-item {
  font-family: Playfair Display, serif;
  color:gray;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 14px;
}

.site-navigation a:hover {
color: aqua;
}

.site-navigation a:focus {
  color: blue;
}

.features-list {
  color: #626262;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-size: 0px;
  padding-bottom: 57px;
}

.features-list-item li {
  display: inline-block;
  width: 420;
  margin-right: 60;
}

.head-text {
  margin-top: 30px;
  font-family: "Ubuntu", sans-serif;
  line-height: 14px;
  font-size: 14px;
  text-transform: uppercase;
  color: #3b3b3b;
}

.header {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
  font-family: Playfair Display, serif;
}
.features-list li {
  display: inline-block;
  width: 420px;
}
.features-list li:nth-child(-n + 4) {
  padding-bottom: 135px;
}

.features-list li:nth-child(odd) {
  margin-right: 60px;
}
.text {
  font-family: Playfair Display, serif;
  font-weight: 500;
  margin-top: 40px;
  font-size: 14px;
  line-height: 24px;
}
.load-btn {
  cursor: pointer;
  display: block;
  width: 164px;
  height: 60px;
  color: #3b3b3b;
  border: 2px solid rgb(61, 60, 60);
  border-radius: 2px;
  background-color: transparent;
  font-family: Playfair Display, serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 58px;
}
