* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.header {
  padding-top: 38px;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  font-size: 23;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
}

.logo {
  font-family: Roboto, sans-serif;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  text-transform: uppercase;
  float: left;
  color: black;
  letter-spacing: -0.02em;
}

.logo::first-letter {
  font-weight: 900;
  color: rgb(26, 188, 156);
}

.navigation__list {
  float: right;
  margin-top: 6px;
}

.navigation__list a:hover {
  color: #03a9f4;
}

.navigation__list-item {
  float: left;
  font-size: 14px;
}

.navigation__list-item:not(:last-child) {
  margin-right: 34px;
}

.navigation__list-link {
  font-size: 14px;
  font-family: "OpenSans", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}

.header__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(81, 81, 81);
  text-align: center;
  margin-bottom: 96px;
}

/*MAIN*/

.greeting {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: url(./img/bck-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__slider-wrapper {
  position: relative;
}

.slider__btn-wrapper {
  position: relative;
  width: 100%;
  top: 226px;
}

.slider__btn {
  border: none;
  width: 104px;
  height: 104px;
  background-color: #1abc9c;
  background-position: center;
  background-repeat: no-repeat;
}

.prev {
  float: left;
  background-image: url(./img/prev_btn.png);
}

.next {
  float: right;
  background-image: url(./img/next_btn.png);
}

.slider__btn-inactive {
  background-color: #55a290;
}

.subtitle {
  display: block;
  font-family: "Roboto"serif;
  font: weight 700;
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}

.text {
  display: block;
  font-family: "Roboto"serif;
  font: weight 300;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}

.frontpage {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*COLLECTION*/

.collection {
  margin-bottom: 100px;
  margin-top: 100px;
}

.sections__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #515151;
  }
.collection__list {
  margin-top: 80px;
}

.sections__title::after {
  display: block;
  content: "";
  width: 164px;
  height: 7px;
  background-color: rgb(26, 188, 156);
  margin: 0 auto;
  margin-top: 39px;
  
}

.collection__list-item {
  position: relative;
  float: left;
  text-align: center;
}

.collection__list-item:not(:last-child) {
  margin-right: 30px;
}

.collection__list-item:hover .collection__list-text-wrapper {
  background-color: rgb(26, 188, 156);
}

.collection__list-text-wrapper {
  background-color: #323232;
}

.collection__list-name {
  display: block;
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 14px;
  height: 40px;
  line-height: 32px;
  width: 201px;
  float: left;
}

.collection__list-price {
  display: block;
  font-family: "Roboto", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  padding-top: 7px;
  width: 54px;
  height: 40px;
  float: right;
  width: 54px;
  background-color: rgba(255, 255, 255, 0.55);
}

.overlay {
  width: 100%;
  height: 283px;
  background-color: rgba(85, 85, 85, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid rgba(255, 255, 255, 0.6);
  background-clip: padding-box;
  opacity: 0;
  visibility: hidden;
}

.overlay__list {
  width: 162px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay__list-item {
  float: left;
}

.collection__list-item:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay__list-link {
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 1px;
  border-color: white;
  border-style: solid;

}

.overlay__list-link:not(:last-child) {
  margin-right: 7px;
}

.overlay__list-link-last {
  display: block;
  width: 165px;
  height: 48px;
  margin-top: 5px;
  background-repeat: no-repeat;
  background-position: center;
  border-width: 1px;
  border-color: white;
  border-style: solid;
  background-color: #323232;
  background-position: 10% 50%;
  padding-left: 45px;
  padding-top: 8px;
  text-transform: uppercase;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  color: white;


}

.overlay__list-link:hover {
  background-color: #1abc9c;
}

.overlay__list-link-last:hover {
  background-color: #1abc9c;
}

.like {
  background-image: url(./img/heart.png);
  margin-right: 6px;
}

.share {
  background-image: url(./img/share.png);
  margin-right: 6px;
}

.time {
  background-image: url(./img/time.png);
}

.buy {
  background-image: url(./img/buy.png);
}
footer {
background-color: #323232;
height: 88px;
font-family: 'open sans', sans-serif;
color: white;
font-size: 16px;
text-align: center;
line-height: 88px;
}
footer a {
  color: #1abc9c;
}
